/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
   
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** HEADER ***********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 79px;
    margin-bottom: 20px;
}

.img {
    width: 61.09px;
    height: 19px;
    align-self: center;
}

.nav {
    display: flex;
    gap: 68px;
}

.lien-nav {
    display: flex;
    color: inherit;
    border-top: white solid;
    

}
.lien-nav:hover {
    color: #0065FC;
    border-top: #0065FC solid;
}

@media (max-width: 767.98px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        height: none;
       
        
    }

    
    .nav {
        
        gap: 0px;
        width: 100%;
       
    }
    .lien-nav {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        border-bottom: #F2F2F2 solid 2px;
        
        
    }

    .lien-nav:hover {
        color: #0065FC;
        
        border-bottom: #0065FC solid 2px;
        
        border-top: none;
    }
}

/****** Trouvez votre Hébergement pour des vacances de reves ***********/
.trouvez-votre-hébergement {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    height: 281px;
    margin-bottom: 35px;
    }

    .Titre-1 {
        width: 100%;
        margin: 0px;
    }

    .h1 {
        margin: 0 0 8px 0;
    }
    
    .sous-titre-h1 {
        margin:0px;
    }

    .method {
        display: flex;
        width: 100%;
        height: 49px;
    }

    .icone-localisation {
        width: 50px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-size: 22px;
        min-width: 49px;
    }
    
    .search {
        
        border: 1px solid #F2F2F2;
        font-size: 18px ;
        color: black;
        text-align : center;
    }

    .submit {
        background-color:#0065FC ;
        padding: 15px;
        font-size: 18px;
        color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: none;
    }
    .filter-container {
        display: flex;
        gap: 15px;
    }
    .Filtres {
        display: flex;
        gap: 15px;
        align-items: center;
       
        
    }
    .Titre-2 {
        font-size: 18px;
        margin: 0px;
    }
    
    .filter-button {
        height: 30px;
        display: flex;
        align-items: center;
        border: 2px solid #D9D9D9;
        padding: 4px 19px 4px 19px;
        border-radius: 25px;
        gap:10px;
    }
    .filter-button:hover {
        background-color: #DEEBFF;
    }
    

    .infobulle-1 {
        display: flex;
        align-items: center;
        width:fit-content;
        height: 24px;
        gap: 10px;
        
    }

    .icone-infobulle {
        display: flex;
        border: 1px solid #D9D9D9;
        border-radius: 24px;
        padding: 5px 10px 5px 10px;
    }
    .form {
        width: 100%;
    }

    @media (max-width: 767.98px) {

        .trouvez-votre-hébergement {
            width: 100%;
            height: 432px;
            display: flex;
            flex-direction: column;
        }
        .Titre-1 {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .Filtres {
            width: 100%;
            gap: 20px;
            flex-direction: column;
            align-items: flex-start;
           
        }

        .filter-button {
            max-width: 123px;
            width: 40%;
           
        }

        .filter-container {
            display: flex;
            width: 100%;
            gap: 10px;
            justify-content:center;
        }
        .infobulle-1 {
            margin: 0px 20px;
        }
        
        .search {
            width: 80%;
            max-width: 240px;


        }

        .method {
            justify-content: center;
        }

        .Loupe {
            background-color: #0065FC;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px #0065FC;
            border-radius: 15px;
            padding: 15px 16px 15px 16px;
            gap: 10px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 25%));
        }

        .submit {
            display: none;
        }
    }
    
        
    
    
/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 100%;
   
  
}

.hebergements-and-populaires section {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
}
@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }
}
/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
   
}
.hebergements-conteneur > a {
    width: 30%;
  }
  
.hebergements-conteneur {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
    

}
article.hebergements-cards {
    display: flex;
    flex-direction:column;
    width: 100%;
    
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 4px;
    
}

article.hebergements-cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    
}
.card-content {
    
    padding:0px 15px;
    gap: 8px;
    
}

.card-title {
    margin-bottom: 10px;
}

.card-subtitle {
    margin: 0px;
    margin-bottom: 3px;
}

.card-rating{
    margin-bottom: 10px;
}

.afficher-plus {
    width: 100%;
    height: 21px;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
@media (max-width: 1024px) {
    

    .hebergements {
        width: 100%;
    }

}

@media (max-width: 767.98px) {
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    .hebergements-conteneur {
        flex-direction: column;
        gap: 15px;
    }
    .hebergements-conteneur > a {
        width: 100%;
      }
    .hebergements {
        gap: 15px;
    }
}
/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.populaires-cards .card {
    display: flex;
    justify-content:space-between;

    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
@media (max-width: 1024px) {
    

    .populaires {
        width: 100%;
        margin-top: 50px;
        
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
}
@media (max-width: 767.98px) {
    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    .populaires {
        margin: 0px;
        gap: 15px;
        
    }
    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }
    .populaires-cards a {
        width: 100%;
    }
    .populaires-cards .card {
        margin: 0px;
    }
    
}

/* Activités */

.activites {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    background-color: white;
   
}
.activites-conteneur {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}

article.activites-card {
    width: 100%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); 
    
}
article.activites-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}
article.activites-card h3 {
    margin: 7px;
    padding: 10px;
  
}
.activites-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;

}
.activites-conteneur > a {
    width: 24%;
  }

@media (max-width: 1024px) {
    .activites {
        width: 100%;
     
        display: flex;
        flex-direction: column;
       
        margin-top: 60px;
        margin-bottom: 60px;
        gap: 30px;
        
    }
  
    article.activites-card img {
      height: 270px ;
      width: 100%;
    }
    article.activites-card h3 {
        height: 38px;
    }
}
@media (max-width: 767.98px){
    .activites {
        padding:0px 30px;
    }
    .activites-conteneur {
        flex-direction: column;
    }
    .activites-conteneur > a {
        width: 100%;
      }
      article.activites-card img {
        
        height: 141px;
        
    }
}


/*Footer*/

.Footer {
    display: flex;
    padding: 20px;
    height: 163px;
    background-color: #F2F2F2;
}
.Footer-conteneur {
    width:100%;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:15px; 
}

@media (max-width: 1024px) {
   .Footer{
    flex-direction: row;
   }
}

@media (max-width: 767.98px) {

    .Footer {
        height: 461px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 15px;
    }
    .Footer-conteneur {
       
       
      
    }
   
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    

    .hebergements {
        width: 100%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}